* {
background-image: url(../imagenes/1234.webp);



}
.main-container {
display: flex;
min-height: 100vh;
justify-content: center;
align-items: center;
min-width: 320px;
}
.icon-list {
display: flex;
gap: 15px;
font-family: 'Calibri';
}
.item {
position: relative;
list-style: none;
}
.icon-box {
width: 50px;
height: 50px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transform: preserve-3d;
transition: 0.5s ease-in-out;
color: rgb(238, 98, 0.384);
border: 1px solid rgb(111, 111, 1111, 0.37);

}
.item:hover .icon-box {
transform: rotateX(60deg)
perspective(550px) translateY(2px);
box-shadow: 0px 10px  2px rgba(98, 98, 098, 0.384);

}
.icon {
transition: transform.es;
}
.item:hover .icon {
transform: translate3d(0px, 0px, 15px) rotateX(-75deg);
}
.count {
position: absolute;
left: 50%;
opacity: 0;
top: 0;
transition: .6s;
padding: 4px 10px;
border-radius: 5px;
visibility: hidden;
background: #161616;
color: rgb(255, 255, 255);
transform: translate(-50%, 0px);
}
.count::after {
content: '';
position: absolute;
top: 100%;
left: 50%;
transform: translateX(-50%);
width: 0;
height: 0;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 10px solid #161616;
}
.item:hover .count {
opacity: 1;
top: 50px;
left: 50%;
bottom: 0;
font-family: bootstrap-icons;
transform: translate(-50%, 65px);

}
.item:hover .count {
 opacity 1;
 visibility: visible;
 pointer-events: auto;
 transform: translate(-50%, -50px);

}

.item a {
 position: absolute;
 bottom: 0;
 opacity: 0;
 left: 50%;
 color: white;
 transition: 5s;
 padding: 10px 0px;
 visibility: hidden;
 text-decoration: none;
 transform: translate(-50%, 0px);
}
.item:hover a {
opacity: 1;
visibility: visible;
transform: translate(-50%, 40px);
}
item a:hover; {
text-decoration: underline;
}